.form-container {
    color:black;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* CSS for form fields */
  .form-group {
    margin-bottom: 20px;
    
  }
  #name{
    background-color: #f2f2f2;
  }
  #email{
    background-color: #f2f2f2;
  }
  #message{
    background-color: #f2f2f2;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group textarea {
    resize: vertical;
    height: 100px;
  }

  /* CSS for submit button */
  #button {
    background-color: #1E88E5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #button:hover {
    background-color: #0277BD;
  }